@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-family: 'Urbanist', sans-serif;
    --breakpoint-3xl: 1920px;
    --color-primary: #8DFF69;

}
@layer base {
    html {
        font-family: var(--font-display);
        scroll-behavior: smooth;
    }
    body{
        -webkit-fomt-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #000000;
        color: #FFFFFF;
        overflow-x: hidden;
    }

     /* Custom scrollbar */

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #0a0a0a;
    }
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, #8DFF69 , #6FE047);
        border-radius: 5px;
}
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(180deg,#A8FF8D , #5BC92E);
    }

    /* Firefox Scrollbar */
    * {
        scrollbar-width: thin;
        scrollbar-color: #6FE047 #0a0a0a;
    }

    /* Hide Scrollbar for Carousel*/
    .hide-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .hide-scrollbar::-webkit-scrollbar {
        display: none;  /* Chrome, Safari, Opera*/
    }

    /* Animation Keyframes */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    @keyframes pulse {
        0%, 100% {
            opacity: 0.3;
        }
        50% {
            opacity: 0.5;
        }
    }

    /* Ulity Classes */

    .animate-fadeIn {
        animation: fadeIn 0.5s ease-in-out infinite;
        -webkit-animation: fadeIn 0.5s ease-in-out infinite;
}
    .animation-spin-slow{
        animation: spin 8s linear infinite;
    }
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    /* Line Clamp */

    .line-clamp-2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }
    .line-clamp-3 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }
}